h1{
    display: flex;
    justify-content:space-around;
    -webkit-text-stroke: 1.5px rgb(32, 32, 32);
    font-family: sans-serif; color: rgb(241, 63, 63);

}

body {
    background-image: url('Porsche.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
   
}

h3{
    display: flex;
    justify-content:space-around;
    -webkit-text-stroke: 1.3px rgb(32, 32, 32);
    font-family: sans-serif; color: rgb(241, 63, 63);

}
div{
  display: flex; 
  justify-content: space-around;
}